node_modules
# Next.js build output
frontend/.next/
frontend/out/
frontend/.vercel/
frontend/.turbo/

# Dependencies
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Env files
frontend/.env*
backend/.env*

# backend 
backend/__pycache__/
backend/api/__pycache__/
backend/LLM/__pycache__/
.DS_Store
